:root{
    --first-main-color: #2E2F42;
    --second-main-color: #434455;
    --third-main-color: #4D5AE5;
    --hover-color: #404BBF;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
   margin: 0; 
}

ul{
    padding-left: 0;
    margin: 0;
}

body{
    font-family:'Roboto', sans-serif;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* -------------------HEADER-------------------- */

.header{
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-main-color);
    margin-right: 80px;
}

.header-logo-part{
    color: var(--first-main-color);
}

.header-list{
    display: flex;
    gap: 40px;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
}

.header-contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

.header-contact-link:hover,
.header-contact-link:focus:focus {
    color: var(--hover-color);
}

.address{
    font-style: normal;
}

.header-contact-list{
    display: flex;
    gap: 40px;
}

/* ----------------------HERO------------------- */

.hero{
    background-color: var(--first-main-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
} 

.hero-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--third-main-color);
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--hover-color);
}

/* -----------------QUALITIES------------------ */

.qualities-item{
    max-width: 264px;
}

.qualities-list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.qualities-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    margin-bottom: 8px;
}

.qualities-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color); 
}

/* -----------------CREATION------------------- */

.creation{
    padding-top: 0;
}

.creation-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--first-main-color);
    margin-bottom: 72px;
}

.creation-list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.creation-item{
    width: calc((100% - 48px) / 3);
}

/* --------------------TEAM-------------------- */

.team{
    background: var(--cloud-color);
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    width: calc((100% - 72px) / 4);
}

.team-text{
    padding: 32px 0;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--first-main-color);
    margin-bottom: 72px;
}

.team-worker-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    text-align: center;
    margin-bottom: 8px;
}

.team-worker-position{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
    text-align: center;
}

/* --------------------FOOTER------------------ */

.footer{
    background-color: var(--first-main-color);
    padding-top: 100px;
    padding-bottom: 100px;
   
}

.footer-container{
    width: 294px;
    /* margin-left: 110px; */
    text-align: start;
    
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-main-color);
}

.footer-logo-part{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-color);
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    margin-top: 16px;
    max-width: 264px;
}

/* ------------------PORTFOLIO-------------------- */

.portfolio{
    padding-top: 96px;
}

.portfolio-btn-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--third-main-color);
    background-color: var(--cloud-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--white-color);
    background-color: var(--hover-color);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card-content{
    background: var(--white-color);
    border: 1px solid var(--cornflower-color);
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.portfolio-card-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    margin-bottom: 8px;
}

.portfolio-card-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color); 
}

.portfolio-card-item{
    width: calc((100% - 48px) / 3);
}